.banner{
  background-image: image-url('banner.jpeg');
  background-repeat: no-repeat;
}


.feature {
  h2 {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    color: #666666;
  }
  p {
  font-size: 15px;
  color: #B3B3B3;
  font-weight: 300;
  text-align: justify;
  }
  img {
  margin-right: 5px;
  }
}
